/* Light Mode */
:root {
    --bg-color: #1f262a;
    --text-color: #ffffff;
    --primary-color: #455a64;
    --secondary-color: #455a64;
}

/* Dark Mode */
[data-theme="dark"] {
    --bg-color: #00000;
    --text-color: #ffffff;
    --primary-color: #00000;
    --secondary-color: #00000;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background 0.3s, color 0.3s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-color);
    padding: 10px 20px;
    color: white;
}

button {
    background: var(--secondary-color);
    color: var(--text-color);
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

main {
    padding: 20px;
}

h3 {
    color: var(--primary-color);
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
    font-size: 16px;
}

footer {
    text-align: center;
    padding: 10px;
    background: var(--primary-color);
    color: white;
}
